@import '../../styles/variables.scss';

.container {
    width: 100%;
    height: $section-height;
    display: flex;
    justify-content: center;
    padding: 100px;
    font-size: 44px;
    color: $dark-grey;
    font-weight: 600;
    position: relative;

    h2 {
        font-size: 1.15rem;
    }
}

.cooperation {
    display: flex;
    flex-direction: column;
    align-items: center;

    h3 {
        font-size: 1rem;
    }
}

.anchor {
    color: $dark-grey;
}

.title {
    text-align: center;
    padding: 0 10px;
    font-size: 1.8rem;
    color: $dark-grey;
}

.dev_contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    bottom: 5px;
    display: flex;
    gap: 5px;
    font-size: 12px;

    .authors {
        display: flex;
        gap: 5px;
    }

    a {
        color: #63AA38;
    }
}

.highlight {
    color: $green-highlight;
}

.contacts {
    display: flex;
    gap: 20px;
    font-size: 16px;
    color: $dark-grey;
    z-index: 500;
    align-items: center;
    
    .shops_logo {
        width: 110px;
        height: 20px;
        text-align: center;
    }

    .wb {
        margin-left: 3px;
    }

    .ym {
        height: 21px;
        margin-top: -2px;
        margin-left: 5px;
    }

    .ozon {
        height: 17px;
        margin-top: 1px;
    }

    .flowwow {
        height: 25px;
        margin-bottom: 3px;
    }
}

@media (max-width: 900px) {
    .title {
        font-size: 1rem !important;
    }

    .cooperation>h3 {
        font-size: 0.9rem !important;
    }

    .dev_contacts {
        bottom: -5rem;
        font-size: 0.7rem;
    }
}

@media (max-width: 768px) {
    .container {
        padding: 20px;

        h2 {
            font-size: 1rem;
        } 

    }

    .title {
        font-size: 1.4rem;
    }

    .cooperation {
        h3 {
            font-size: 0.8rem
        }
    }

    .dev_contacts {
        bottom: -5rem;
        font-size: 0.7rem;
    }
}

@media (max-width: 576px) {
  .container {

    h2 {
        font-size: 0.8rem;
    }
  }  

  .contacts {
    display: flex;
    gap: 25px;
    flex-direction: column;
  }

  .title {
    font-size: 1.15rem;
  }

  .cooperation {
    h3 {
        font-size: 0.75rem
    }
}

    .dev_contacts {
        bottom: -3rem
    }
}