@font-face {
  font-family: 'Vela';
  src: local('Vela'), url('../public/fonts/ValaSans-Regular') format('otf');
  font-weight: 500;
}

body {
  font-family: 'Vela', sans-serif;
  -webkit-tap-highlight-color: transparent;
}

#root {
  scroll-behavior: smooth;
}