$dark-grey: rgb(141, 141, 141);
$header-height: 10vh ;
$primary: #5f5f5f;
$green-highlight: #63AA38;
$light-grey-with-opacity: rgb(247, 247, 247, 0.7);
$light-grey: rgb(247, 247, 247);
$section-height: calc(100vh - $header-height);
